* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #2c334e;
  padding: 20px 0;
  border-bottom: 4px solid #f15a24;
}

.header__container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Контактная информация */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.phone-number {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s ease;
}

.phone-number:hover {
  color: #f15a24;
}

.auth .auth-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 15px;
  border: 2px solid #f15a24;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.auth .auth-link:hover {
  background-color: #f15a24;
}

/* Навигационная панель */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 20px;
}

.navbar__logo img {
  width: 200px;
  height: auto;
}

.navbar__search-bar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.navbar__search-input {
  width: 250px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navbar__search-buttons {
  display: flex;
}

.navbar__search-buttons button {
  background: none;
  border: none;
  margin-left: 10px;
}

.navbar__search-buttons img {
  width: 25px;
  height: 25px;
}

.navbar__search-buttons button:hover {
  opacity: 0.8;
}

/* Каталог */
.catalog {
  display: flex;
  justify-content: space-between;
  background-color: #2c334e;
  padding: 10px;
  border-radius: 20px;
}

.catalog-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 10px 15px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.catalog-link:hover {
  background-color: #f15a24;
}

.catalog-link.active {
  background-color: #f15a24;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar__search-input {
    width: 100%;
  }
  .contact-info {
    flex-direction: column;
    gap: 20px;
  }
  .navbar {
    flex-direction: column;
  }
  .catalog {
    flex-direction: column;
    gap: 10px;
  }
}

/* Main */
.main-content {
  background: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #2b324e;
  padding: 50px 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadeInContent 1.5s forwards;
}

@keyframes fadeInContent {
  to {
    opacity: 1;
  }
}

.main__container {
  margin: 0 auto;
}

.main-content__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeIn 1s ease-out 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-content__categories {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-50px);
  /* Эффект выезда слева */
  animation: slideIn 1s ease-out 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.category-item {
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.category-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-3px);
}

.button-shop {
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #f15a24;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.9);
  animation: bounceIn 1s ease-out 1.5s forwards;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.button-shop:hover {
  background-color: #ee6f41;
  transform: translateY(-3px);
}
