.auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(120deg, #ff7e5f, #feb47b);
  padding: 20px;
}

.auth__container {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

.auth-title {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  animation: fadeInDown 1s ease-out;
}

.auth-form {
  animation: fadeInUp 1s ease-out;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #ff7e5f;
}

.submit-button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #f15a24;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: buttonSlideIn 1.2s ease;
}

.submit-button:hover {
  background-color: #feb47b;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1rem;
  color: #333;
}

.tab button.active {
  border-bottom: 2px solid #f15a24;
  color: #ff7e5f;
}

.tabcontent {
  display: none;
}

/* Анімації */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 550px) {
  .auth__container {
    width: 100%;
  }
}
