.registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(120deg, #ff7e5f, #feb47b);
  padding: 20px;
}

.registration-title {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  animation: fadeInDown 1s ease-out;
}

.registration-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  animation: fadeInUp 1s ease-out;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #ff7e5f;
}

.submit-button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #f15a24;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: buttonSlideIn 1.2s ease;
}

.submit-button:hover {
  background-color: #feb47b;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link span {
  font-size: 1rem;
  color: #333;
}

.login-link a {
  font-size: 1rem;
  color: #ff7e5f;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #feb47b;
}

/* Анімації */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 550px) {
  .registration-form {
    width: 100%;
  }
}
